<html>
<head>
<title>Andrew's homepage</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
<div id="header">Andrew's homepage</div>
<ul id="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/weather">Weather</a></li>
    <li><a href="/calendar">Calendar</a></li>
    <li><a href="/cryptography">Cryptography</a></li>
    <li><a href="/sudoku">Sudoku</a></li>
    <li><a href="/chess">Chess</a></li>
    <li><a href="/math">Math</a></li>
    <li><a href="/cs">CS</a></li>
    <li><a href="/biblestudy">Bible Study</a></li>
</ul>
<h3>400 Bad Request</h3>
<p>The server was unable to process the request.</p>
</body>
</html>
