#calendar_hdr {
    text-align: center;
}

table#calendar {
    border-collapse: collapse;
    table-layout: fixed;
    width: 1225px;
    margin-left: auto;
    margin-right: auto;
}

table#calendar td {
    border: 1px solid;
}

table#calendar td div.head {
    font-size: small;
}

table#calendar td div.body {
    text-align: center;
    padding: 12px;
}

div#nav_form {
    text-align: center;
}
