div#container {
    margin: 20px;
}

table.search {
    border-spacing: 0;
}

table.search td {
    padding: 10px 10px 10px 0px;
}

.vmargin {
    margin-top: 10px;
    margin-bottom: 10px;
}

table#forecast {
    border-collapse: collapse;
}

table#forecast th, table#forecast td {
    border: 1px solid black;
    padding: 10px;
}

table#forecast th {
    white-space: nowrap;
}

table#forecast th:nth-child(1) {
    width: 115px;
}

table#forecast th:nth-child(4) {
    width: 100px;
}

table#forecast th:nth-child(6) {
    width: 115px;
}
