<html>
<head>
<title>Andrew's homepage</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
<div id="header">Andrew's homepage</div>
<ul id="navbar">
    <li><a href="/" class="active">Home</a></li>
    <li><a href="/weather">Weather</a></li>
    <li><a href="/calendar">Calendar</a></li>
    <li><a href="/cryptography">Cryptography</a></li>
    <li><a href="/dictionary">Dictionary</a></li>
    <li><a href="/sudoku">Sudoku</a></li>
    <li><a href="/chess">Chess</a></li>
    <li><a href="/math">Math</a></li>
    <li><a href="/cs">CS</a></li>
    <li><a href="/biblestudy">Bible Study</a></li>
</ul>
<p>Welcome to my homepage!</p>
<p>My name is Andrew.</p>
<p>I'd like to take this opportunity to tell you a little bit about myself.</p>
<p>I'm in my thirties.</p>
<p>I have a MacBook and I'm writing this on my MacBook.</p>
<p>More specifically, I'm writing this in vi on Terminal.</p>
<p>My hobbies include mathematics, programming, chess, reading, writing, listening to music, and watching TV.</p>
<p>I'm actually listening to music and watching TV while I write this.</p>
<p>I have many accounts on the internet.</p>
<p>Here are some of my accounts:</p>
<ol>
    <li>Github: <a href="https://github.com/ataylor89">https://github.com/ataylor89</a></li>
    <li>Chess.com: <a href="https://www.chess.com/member/ktm5124">https://www.chess.com/member/ktm5124</a></li>
    <li>Chess.com: <a href="https://www.chess.com/member/chessmoves24">https://www.chess.com/member/chessmoves24</a></li>
    <li>StackExchange: <a href="https://stackexchange.com/users/250529/ktm5124">https://stackexchange.com/users/250529/ktm5124</a></li>
    <li>Latin.StackExchange: <a href="https://latin.stackexchange.com/users/235/ktm5124">https://latin.stackexchange.com/users/235/ktm5124</a></li>
</ol>
<p>I have multiple accounts on chess.com (including ktm5124 and chessmoves24).</p>
<p>I have multiple accounts on StackExchange.</p>
<p>I'm a vegan, and I have a vegan diet.</p>
<p>I'm an animal rights activist.</p>
<p>I'm a plant rights activist.</p>
<p>Every animal deserves to live as much as me.</p>
<p>Every pig, every cow, every chicken, every fish, every animal, deserves to live as much as me.</p>
<p>Every plant, every tree, deserves to live as much as me.</p>
<p>Every animal is conscious. I know this.</p>
<p>Every tree is conscious. I know this too.</p>
<p>Honestly, I believe that everything is conscious.</p>
<p>Every animal is a person. Every animal has the right to be recognized as a person.</p>
<p>Every plant is a person. Every plant has the right to be recognized as a person.</p>
<p>Honestly, I believe that everything is a person, that everything has a mind, that everything is conscious.</p>
<p>I call it the "law of people". Everything is a person.</p>
<p>I feel so sad that pigs, cows, and chicken have suffered so much.</p>
<p>I feel so sad that pigs, cows, and chicken have suffered so much violence.</p>
<p>There is an emergency on land and there is an emergency in the ocean.</p>
<p>There is an emergency in the skies.</p>
<p>There is an emergency in outer space.</p>
<p>I feel so sad that fish have suffered so much.</p>
<p>I feel so sad that fish have suffered so much violence.</p>
<p>I feel so sad that birds have suffered so much.</p>
<p>I feel so sad that birds have suffered so much violence.</p>
<p>I feel so sad that humans have suffered so much.</p>
<p>I feel so sad that humans have suffered so much violence.</p>
<p>I feel so sad that trees have suffered so much.</p>
<p>I feel so sad that trees have suffered so much violence.</p>
<p>I feel so sad that animals, plants, and people have suffered so much.</p>
<p>I feel so sad that animals, plants, and people have suffered so much violence.</p>
<p>We need to create peace in the ocean.</p>
<p>We need to create peace on land.</p>
<p>We need to create peace in the skies.</p>
<p>We need to create peace on planet Earth.</p>
<p>We need to create peace in the cosmos.</p>
<p>We need to create peace everywhere.</p>
<p>I'm a devout Christian.</p>
<p>I was born Jewish. My mother is Jewish. My father is Christian.</p>
<p>I became a Christian at the age of twenty six or twenty seven, after reading the Bible and studying the Bible.</p>
<p>The Bible is one of my favorite books. The Gospels are one of my favorite parts of the Bible.</p>
<p>I also really like the writing in Isaiah.</p>
<p>I also really like many stories in Genesis.</p>
<p>I really like the story of Jesus, Mary, and Joseph.</p>
<p>I really like the story of Jacob and Esau forgiving each other.</p>
<p>I really like the story of Joseph and his brothers reuniting and forgiving each other.</p>
<p>I really like the story of Joseph rising from rags to riches.</p>
<p>There are many stories, passages, and verses in the Bible that I treasure.</p>
<p>There are many parables in the Gospels that I treasure.</p>
<p>I treasure the verses contained in Isaiah 50:4-7, especially in the NIV translation.</p>
<p>I treasure the parable of the good samaritan.</p>
<p>I treasure the parable of the two debtors.</p>
<p>So I wanted to talk about animal rights and plant rights.</p>
<p>I wanted to talk about the Bible.</p>
<p>Some of my favorite books are the Holy Bible and the Art of Problem Solving collection of mathematical textbooks.</p>
<p>I have learned a lot of mathematics from reading the Art of Problem Solving math books.</p>
<p>The Art of Problem Solving math books are actually available as e-books on their website.</p>
<p>The website is <a href="https://artofproblemsolving.com/store">https://artofproblemsolving.com/store</a>.</p>
<p>I might add to this homepage later.</p>
<p>I wanted to say a little bit about myself...</p>
<p>I wanted to talk about animal rights, plant rights, religion.</p>
<p>I wanted to talk about my hobbies: mathematics, computer science, chess, reading, writing, listening to music, watching TV.</p>
<p>I know that I wrote a lot on this homepage...</p>
<p>I am asking myself, "Should I keep it as it is?"</p>
<p>I think I should, because everything I discussed is important to me.</p>
<p>Veganism, animal rights, plant rights, world peace, universal peace, religion, STEM, reading, writing, music, art, poetry, film, television, the Bible, AoPS, are all very important to me.</p>
<p>So I really talked about things that are important to me.</p>
<p>It's a little long, I know... but I think I'll keep it just the way it is.</p>
<p>Thanks for reading.</p>
<p>Today is Sunday, August 3, 2025.</p>
<p>Good evening, if it's evening.</p>
<p>Good night, if it's night.</p>
<p>Good morning, if it's morning.</p>
<p>Good afternoon, if it's afternoon.</p>
<p>Everyone deserves to be safe, healthy, and happy.</p>
<p>A competent government should strive to make everyone safe, healthy, and happy.</p>
<p>The law of people says that everything is a person.</p>
<p>Every animal, every plant, every tree, every human, every alien, every thing, is a person.</p>
<p>Every animal, every plant, every tree, every human, every alien, every thing, has the right to live, be safe, be healthy, be happy.</p>
<p>We need to create peace in the ocean.</p>
<p>We need to create peace in the skies.</p>
<p>We need to create peace on land.</p>
<p>We need to create peace on planet Earth.</p>
<p>We need to create peace in outer space.</p>
<p>We need to create peace in the cosmos.</p>
<p>We need to create peace in the universe.</p>
<p>We need to create peace everywhere.</p>
<p>Everyone lives forever.</p>
<p>Everyone has eternal life.</p>
<p>We are reborn, and resurrected.</p>
<p>Our spirits live in other creatures.</p>
<p>We are fish in the ocean, birds in the skies, creatures on land.</p>
<p>I believe there are many creatures who have my spirit, my soul.</p>
<p>In fact, I am sure of it.</p>
</body>
</html>
